.full_page {
    display: flex;
    min-height: 100vh;
    background-color: #0961F526;
  }
  
  .right_side {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .main_content {
    padding: 24px;
    min-width: 600px;
    height: calc(100vh - 64px);
    overflow-y: auto;
    background-color: white;
    margin: 19px;
    border-radius: 20px;
  }