/* Outer container */
.outerContainer {
    width: 100%;
        /* Full width of the screen */
        max-width: 1200px;
        /* Optional: Set a max-width to prevent it from becoming too wide */
        background-color: #ffffff;
        border-radius: 16px;
        padding: 24px;
        margin: 40px auto;
        border: 1px solid #787878;
}

/* Grid title */
.gridTitle {
    font-size: 24px;
    color: #000000;
    margin-bottom: 24px;
    text-align: left;
    font-weight: bold;
}

/* Grid layout */
.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

/* Individual grid item */
.gridItem {
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    padding: 24px;
    /* Increase padding for larger items */
    border-radius: 12px;
    border: 2px solid #787878;
    /* Add a clean black border */
    transition: transform 0.2s;
    width: 100%;
    /* Full width of its container */
    max-width: 350px;
}

.gridItem:hover {
    transform: translateY(-4px);
}

/* Image in grid item */
/* Image in grid item */
.gridImage {
    width: 120px;
    /* Increase width */
    height: 120px;
    /* Increase height */
    object-fit: contain;
    margin-bottom: 16px;
    /* Adjust bottom margin to give some space */
}

/* Text in grid item */
.gridName {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    margin: 0;
}