.mainDiv{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    flex-wrap: wrap;
    color: #000;
}
