.createContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}
.sectionTitle {
  font-size: 20px;
  font-weight: 700;
  text-align: center; /* Center align the title for better appearance on mobile */
}
.inputGroup {
  display: flex;
  flex-direction: column;
  width: 40%;
  position: relative;
}
.textArea {
  width: 100%;
  height: 20vh;
}
input, textarea, select {
  border: 0.5px solid #787878;
  border-radius: 8px;
  padding: 11px;
  height: 100%;
}
input::placeholder, textarea::placeholder, select {
  font-size: 12px;
  font-weight: 500;
}
select {
  color: #787878;
}
.input_label {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 4px;
}
form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
}
.submitBtn {
  background-color: #0961F5;
  color: #fff;
  border-radius: 32px;
  padding: 16px 66px;
  align-self: center;
}

/* Switch Button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.lastRow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  .lastRow{
    width: 80%;
  }

  .inputGroup {
      width: 80%; /* Adjust input group width for smaller screens */
  }

  .submitBtn {
      padding: 12px 40px; /* Adjust button padding for smaller screens */
      font-size: 14px; /* Reduce font size for buttons */
      width: 80%;
  }

  form {
      flex-direction: column; /* Stack form elements vertically on mobile */
      gap: 20px; /* Reduce gap between elements */
  }

  .sectionTitle {
      font-size: 18px; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .inputGroup {
      width: 100%; /* Full width for input groups on very small screens */
  }

  .submitBtn {
      padding: 10px 30px; /* Further reduce padding for smaller screens */
      font-size: 10px; /* Adjust font size for buttons */
  }

  .sectionTitle {
      font-size: 16px; /* Further reduce font size for titles */
  }
}
