
  .container {
    padding: 16px 34px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space out title and search bar */
}

.titlecontainer {
    display: flex;
    align-items: center;
    margin-right: 5px;
    gap: 16px; /* Adjust spacing between elements */
}

.title {
    font-size: 24px;
    font-weight: 600;
    color: #1a1c1e;
}

.searchcontainer {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 20px;
  border: 1px solid #eaedf5;
  border-radius: 5rem;
  font-size: 16px;
  width: 35rem; 
  background-color: white;
}

.searchcontainer input {
    border : none;
}

.searchbar {
    padding: 2px 20px;
    border-radius: 5rem;
    font-size: 16px;
    width: 25rem; 
    outline: none;
    transition: border-color 0.3s;
}

.searchbar:focus {
    border-color: #1a73e8; 
}


@media (max-width: 830px) {
    .titlecontainer {
        margin-left: 2rem;
    }
}